.googleSignUp {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    flex-direction: row;
    gap: 10px;
    border-radius: 30px;
    padding: 5px;
    cursor: pointer;
  }