@import "./../../css-config/mixins.scss";
header {
  width: 100%;
  height: 60px;
  background-color: #0b1624;
  color: white;
  display: flex;
  align-items: center;
  .header_items {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    .logo {
      font-size: 32px;
      font-weight: 700;
      text-transform: uppercase;
      border-radius: 50px;
      padding: 8px;
      display: inline-block;
      cursor: pointer;
    }
    .logInBtn {
      width: 80px;
      height: 30px;
      background-color: cornflowerblue;
      border: 1px dotted white;
      border-radius: 10px;
      cursor: pointer;
    }
    .user {
      cursor: pointer;
      // border: 1px solid green;
      position: relative;
      &:hover {
        .UserDropdown {
          visibility: inherit;
          border-radius: 0 0 10px 10px;
        }
        .userProfile {
          border-radius: 10px 10px 0 0;
        }
      }
      .userProfile {
        --green: #1bfd9c;
        font-size: 12px;
        cursor: pointer;
        letter-spacing: 0.06em;
        position: relative;
        font-family: inherit;
        border-radius: 0.6em;
        overflow: hidden;
        transition: all 0.3s;
        line-height: 1.4em;
        border: 2px solid var(--green);
        background: linear-gradient(
          to right,
          rgba(27, 253, 156, 0.1) 1%,
          transparent 40%,
          transparent 60%,
          rgba(27, 253, 156, 0.1) 100%
        );
        color: var(--green);
        box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4),
          0 0 9px 3px rgba(27, 253, 156, 0.1);
        padding: 0 20px;
        border: 1px solid rgba(202, 202, 202, 0.772);
        display: flex;
        flex-direction: row;
        width: fit-content;
        height: 30px;
        justify-content: space-around;
        border-radius: 10px;
        align-items: center;
        gap: 10px;
        &::before {
          content: "";
          position: absolute;
          left: -4em;
          width: 4em;
          height: 100%;
          top: 0;
          transition: transform 0.4s ease-in-out;
          background: linear-gradient(
            to right,
            transparent 1%,
            rgba(27, 253, 156, 0.1) 40%,
            rgba(27, 253, 156, 0.1) 60%,
            transparent 100%
          );
        }
        &:hover {
          color: #82ffc9;
          box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6),
            0 0 9px 3px rgba(27, 253, 156, 0.2);
          &::before {
            transform: translateX(15em);
          }
        }
        .user_icon {
          font-size: 22px;
          color: white;
          display: flex;
          align-items: center;
          height: 100%;
        }
        .user_name {
          // font-size: 15px;
          font-weight: 600;
          text-transform: uppercase;
          display: flex;
          align-items: center;
          height: 30px;
        }
      }
      .UserDropdown {
        position: absolute;
        visibility: hidden;
        border: 1px solid rgba(202, 202, 202, 0.772);
        width: 100%;
        background-color: rgb(172, 172, 172);
        padding: 0;
        box-sizing: border-box;
        z-index: 99;
        --green: #1bfd9c;
        font-size: 12px;
        cursor: pointer;
        // padding: 0.4em 1.7em;
        letter-spacing: 0.06em;
        font-family: inherit;
        border-radius: 0.6em;
        overflow: hidden;
        transition: all 0.3s;
        line-height: 1.4em;
        // border: 2px solid var(--green);
        background: linear-gradient(
          to right,
          rgba(27, 253, 156, 0.1) 1%,
          transparent 40%,
          transparent 60%,
          rgba(27, 253, 156, 0.1) 100%
        );
        color: var(--green);
        box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4),
          0 0 9px 3px rgba(27, 253, 156, 0.1);
        ul {
          list-style: none;
          display: flex;
          justify-content: center;
          flex-direction: column;
          margin: 0;
          padding: 0;
          li {
            display: flex;
            justify-content: center;
            line-height: 25px;
            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase;
            &::before {
              content: "";
              position: absolute;
              left: -4em;
              width: 4em;
              height: 100%;
              top: 0;
              transition: transform 0.4s ease-in-out;
              background: linear-gradient(
                to right,
                transparent 1%,
                rgba(27, 253, 156, 0.1) 40%,
                rgba(27, 253, 156, 0.1) 60%,
                transparent 100%
              );
            }
            &:hover {
              color: #82ffc9;
              box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6),
                0 0 9px 3px rgba(27, 253, 156, 0.2);
              &::before {
                transform: translateX(15em);
              }
            }
            &:active{
              color: #0b1624;
            }
          }
        }
      }
    }
  }
}
